{% extends 'HOSPITAL/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 mt-5">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" class="btn btn-info">
                <input type="reset" value="Cancel" class="btn btn-warning">

            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">



        {% if hpatient %}


        <div class="col-sm-6 mt-5">
            <h4 class="alert alert-dark">DOCTOR PATIENT DETAILES</h4>
            <table class="table table-bordered table-striped text-justify table-hover shadow-lg">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">ADDRESS</th>
                        <th scope="col">MOBILE</th>
                        <th scope="col">SYMPTOMS</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">USER&nbsp;ID</th>
                        <th scope="col">ADMINDATE</th>
                        <th scope="col">PROFILE</th>
                        <th scope="col">ASSIGNDOCTORID</th>
                    </tr>
                </thead>

                <tbody>

                    {% for i in hpatient %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.address}}</td>
                        <td>{{i.mobile}}</td>
                        <td>{{i.symptoms}}</td>
                        <td>{{i.status}}</td>
                        <td>{{i.user_id}}</td>
                        <td>{{i.admitDate}}</td>
                        <td>{{i.profile_pic.url}}</td>
                        <td>{{i.assignedDoctorId}}</td>



                    </tr>
                    {% endfor %}
                </tbody>



            </table>
        </div>
    </div>
</div>
{% else %}
<h4 class="display-6">NO DOCTOR PATIENT DETAILES</h4>
{% endif %}
</div>
</div>


{% endblock %}