{% extends 'HOSPITAL/base.html' %}
{% load static %}
{% block content %}


<div class="container">

  <div class="card img-fluid" style="width:500px">
    <img src="{% static 'images/bg.jpg' %}" class="img-fluid" alt="..." style="width: 1100px;height: 450px;">
    <div class="card-img-overlay">
      <h4 class="card-title">WELCOME TO THE ....HOSPITAL MANGEMENT SYSTEM</h4>
      <p class="card-text">24*7 Avalible.</p>
      <a href="#" class="btn btn-primary">More info</a>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">

  <div class="row">

    <div class="col-sm-4">
      <div class="card" style="width:400px">
        <img src="{% static 'images/home-medical.jpg' %}" class="img-fluid rounded-start" alt="..."
          style="width: 400px;height: 250px;">
        <div class="card-body">
          <h4 class="card-title">MEDIACL</h4>
          <p class="card-text">Medicine is the science and practice of caring for a patient, managing the diagnosis,
            prognosis, prevention.</p>
          <a href="#" class="btn btn-primary">More --info</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="width:400px">
        <img src="{% static 'images/home-one.jpg' %}" class="img-fluid rounded-start" alt="..."
          style="width: 400px;height: 250px;">
        <div class="card-body">
          <h4 class="card-title">DOCTORS</h4>
          <p class="card-text">Since doctors are responsible for their patients' well-being, this occupation is more
            demanding than most.</p>
          <a href="#" class="btn btn-primary">More --info</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="width:400px">
        <img src="{% static 'images/home-hospital-build.jpg' %}" class="img-fluid rounded-start" alt="..."
          style="width: 400px;height: 250px;">
        <div class="card-body">
          <h4 class="card-title">HOSPITAL</h4>
          <p class="card-text">A hospital is a health care institution providing patient treatment with specialized
            medical and nursing staff and medical equipment</p>
          <a href="#" class="btn btn-primary">More-info</a>

        </div>
      </div>


    </div>
  </div>
</div>








{% endblock content %}