{% load static %}

<nav class="navbar navbar-expand-sm navbar-light bg-dark opacity-5 shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="{% url 'home' %}" class="btn btn-outline-warning">Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-white  me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'HospitalDepartment' %}">H-&nbsp;DEPARTMNT</a>
        </li>



        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'hospital-doctor' %}">Doctor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'hospital-doctor-deepaartt' %}">H&nbsp;deparrtment</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'patient' %}">H&nbsp;patient</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'kit' %}">H-roomkit</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'room' %}">H-room</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'appointment' %}">H-Appintment</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'roombooking' %}">H-RoomBooking</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'patientInsurence' %}">H-P-Insurence</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'patientdischarge' %}">H-P-Discharge</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'payment' %}">H-Payment</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'patientpayment' %}">H-P-Payment</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'medicine' %}">H-Medicine</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'medicine-brand' %}">M-BRAND</a>
        </li>
        <!-- 3 in chinge -->
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'hospital-medicine' %}">H-Medicine</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'discharge-medicine' %}">H-Discharge</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'zipcode' %}">Zipcode</a>
        </li>

 

















        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'userregistration' %}">Registration</a>
        </li>



        <li class="nav-item">
          <a class="nav-link text-white"><i class="fab fa-facebook"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white"> <i class="fab fa-whatsapp"></i></i></a>
        </li>



      </ul>

      <!-- <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown link
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
  -->
    </div>
  </div>
</nav>