{% extends "HOSPITAL/base.html" %}

{% block content %}

{% load static %}

{% load crispy_forms_tags %}




<div class="col-sm-6">
    <h3 class="text-white ">HOSPITAL REGISTRATION </h3>
    <form action="" method="post" novalidate>
        {% csrf_token %}
       
        {{form.as_p}}

        <input type="submit" class="btn btn-primary" value="Login">
        <script>
            alert('{{  "Register Succesfully Completed" }}');
        </script>
        <input type="reset" class="btn btn-warning" value="cancel">
        <a href="{% url 'login' %}" class="btn btn-info" class="btn btn-info">Login (Existing User)</a>
        
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
       
        {% endfor %}
        {% endif %}
        
    </form>
</div>


{% endblock content %}